### Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list.
###### Use the below-given list as an argument for your function.
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']
###### Note: you must extract numeric keys and values of the dictionary also.

In [6]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [7]:
list1

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [33]:
def flat_list(l):
    int_flat= []
    flat = []
    pro = 1
    for i in list1:
        if type(i) == list or type(i) == tuple or type(i) == set:
            for element in i:
                flat.append(element)
        elif type(i) == dict:
            temp_list = list(i.items())
            for i in temp_list:
                for element in i:
                    if type(element) == set or type(element) == tuple or type(element) == list:
                        for j in element:
                            flat.append(j)
                    else:
                        flat.append(element)
        else:
            flat.append(i)
    for k in flat:
        if type(k) == int or type(k) == float:
            int_flat.append(k)
            pro = pro * k
    print("The flat list :",flat)
    print("Integer List: ",int_flat)
    print('The product:',pro)

In [34]:
flat_list(list1)

The flat list : [1, 2, 3, 4, 44, 55, 66, True, False, 34, 56, 78, 89, 34, 1, 2, 3, 1, 34, 'key2', 55, 67, 78, 89, 4, 45, 22, 61, 34, 56, 'data science', 'Machine Learning']
Integer List:  [1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 34, 55, 67, 78, 89, 4, 45, 22, 61, 34, 56]
The product: 4134711838987085478833841242112000

#### Write a python program for encrypting a message sent to you by your friend. The logic of encryption should be such that, for a the output should be z. For b, the output should be y. For c, the output should be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.

Input Sentence: I want to become a Data Scientist.

In [78]:
s = "I want to become a Data Scientist"

In [84]:
for i in  range(len(s)):
    if s[i] == 'a':
        s = s.replace('a','z')
    elif s[i] == 'b':
        s= s.replace('b','y')
    elif s[i] == 'c':
        s = s.replace('c','x')
    elif s[i] == ' ':
        s = s.replace(' ','$')
print(s)

I$wznt$to$yexome$z$Dztz$Sxientist